<section>
  <div *ngIf="loading">
    <h3>Loading..</h3>
  </div>

  <div *ngIf="error">
    <h1>{{error}}</h1>
    <!-- <router-link to="/">Go back</router-link> -->
  </div>  

  <div class="container">
    <h1 class="gamertag">
      <!-- <img src="" alt="" class="platform-avatar"> -->
      Iron Man
    </h1>
    <div class="grid">
      <div class>
        <img src alt />
      </div>
      <div class>
        <ul>
          <li>
            <h4>Super Power</h4>
            <p>Burn environment</p>
          </li>
          <li>
            <h4>Origin</h4>
            <p>
              Californina,
              <span>USA</span>
            </p>
          </li>
          <li>
            <h4>Classic Quote</h4>
            <p>
              <span>"Look at you, companiero"</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- <router-link to="/">Go back</router-link> -->
    <a routerLink="/">Go Back</a>
  </div>
</section>