<section>
  <div *ngIf="loading">
    <h3>Loading..</h3>
  </div>

  <div *ngIf="error">
    <h1>{{error}}</h1>
    <!-- <router-link to="/">Go back</router-link> -->
  </div>  

  <div class="container">
    <h1 class="gamertag">
      <!-- <img src="" alt="" class="platform-avatar"> -->
      Iron Man
      {{ model.superHero }} 
    </h1>
    <div class="grid">
      <!-- <div class>
        <img src alt />
      </div> -->
      <div class>
        <ul>
          <li>
            <h4>Super Power</h4>
            <p>Knock out enemies with an iron fist</p>
          </li>
          <li>
            <h4>Origin</h4>
            <p>
              California,
              <span>USA</span>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <a routerLink="/">Go Back</a>
  </div>
</section>