<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">

  <div id="signin">
    <!-- LOGO -->
    <h1>{{ title }}</h1>

    <!-- FORM -->
    <form #form="ngForm" (ngSubmit)="getHeroName(form.value)">
      <div>
        <label for="firstname">First name</label>
        <input type="text" class="text-input">
      </div>
      <div>
        <label for="lastname">Last name</label>
        <input type="text" class="text-input">
      </div>
      <button class="primary-btn" type="submit">Get a super hero name!</button>
    </form>
    <!-- FOOTER -->
    <footer id="main-footer">
      <p>Copyright &copy; 2019by Robb Moskv</p>
      <div>
        <a href="#">Github</a>
      </div>
    </footer>
  </div>
</div>

<router-outlet></router-outlet>